n8n/workflows/telegram-alerts.json
{
  "name": "Telegram Alerts Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "t1",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 260]
    },
    {
      "parameters": {
        "jsCode": "const district = $json.district || 'system';\nconst sends = $json.total || $json.sent_count || 0;\nconst clicks = $json.clicked_count || 0;\nconst custom = $json.message || '';\nconst text = custom || `📣 Namma Ooru Alert\\nDistrict: ${district}\\nSends: ${sends}\\nClicks: ${clicks}`;\nreturn [{ json: { text } }];"
      },
      "id": "t2",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [430, 260]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\":$env.TELEGRAM_CHAT_ID,\"text\":$json.text,\"disable_web_page_preview\":true}",
        "options": {}
      },
      "id": "t3",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 260]
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [[{ "node": "Format Message", "type": "main", "index": 0 }]]
    },
    "Format Message": {
      "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "pinData": {}
}
