n8n/workflows/volume-monitor.json
{
  "name": "Volume Monitor Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyDay",
              "hour": 7,
              "minute": 48
            }
          ]
        }
      },
      "id": "v1",
      "name": "07:48 Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS total_subscribers FROM subscribers WHERE status = 'enabled'"
      },
      "id": "v2",
      "name": "Get Subscriber Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        430,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{$env.N8N_API_URL}}/variables/ACTIVE_IPS",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{$env.N8N_API_KEY}}"
            }
          ]
        },
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "v2a",
      "name": "Fetch ACTIVE_IPS Variable",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const totalSubscribers = Number(items[0].json.total_subscribers || 0);\nconst variableValue = $('Fetch ACTIVE_IPS Variable').item?.json?.data?.value || '';\nconst activeIpsRaw = String(variableValue || $env.ACTIVE_IPS || '');\nconst activeIps = activeIpsRaw.split(',').map((v) => v.trim()).filter(Boolean);\nconst currentIps = Math.max(activeIps.length, 1);\nconst neededIps = Math.max(1, Math.ceil(totalSubscribers / 2000));\nconst needsScale = neededIps > currentIps;\nconst message = needsScale\n  ? `🆙 Subscribers ${totalSubscribers} require scale: ${currentIps} -> ${neededIps} IPs`\n  : `✅ Healthy capacity: ${totalSubscribers} subscribers across ${currentIps} IPs`;\nreturn [{ json: { totalSubscribers, currentIps, neededIps, needsScale, message } }];"
      },
      "id": "v3",
      "name": "Calculate Required IPs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.needsScale}}",
              "value2": true
            }
          ]
        }
      },
      "id": "v4",
      "name": "Needs Scale?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": "Auto IP Purchase Workflow",
        "options": {}
      },
      "id": "v5",
      "name": "Trigger Auto-IP Purchase",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1060,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "Telegram Alerts Workflow",
        "options": {}
      },
      "id": "v6",
      "name": "Send Summary Alert",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1060,
        360
      ]
    }
  ],
  "connections": {
    "07:48 Trigger": {
      "main": [
        [
          {
            "node": "Get Subscriber Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Required IPs": {
      "main": [
        [
          {
            "node": "Needs Scale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Scale?": {
      "main": [
        [
          {
            "node": "Trigger Auto-IP Purchase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Summary Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Auto-IP Purchase": {
      "main": [
        [
          {
            "node": "Send Summary Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch ACTIVE_IPS Variable": {
      "main": [
        [
          {
            "node": "Calculate Required IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscriber Count": {
      "main": [
        [
          {
            "node": "Fetch ACTIVE_IPS Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {}
}
